    <div class="container">
        <div class="row">
        <br><br><br>
        <blockquote class="blockquote-reverse" style="color:#000080;">
            <p align="center"><i>"The best solution for matching pair programming"</i></p>
            <footer><b>by: Tech in Asia</b></footer>
        </blockquote>
        <SCRIPT type="text/javascript">
            window.history.forward();
            function noBack() { window.history.forward(); }
        </SCRIPT>
        </div>
    </div>
    </body>
</html>
