<html>
  <head>
    <meta charset="utf-8">
    <title>.:: Pair Project System ::.</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="row">
          <img alt="logo" src="../picture/logo.png" />
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="/">Pair Project System</a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/student">Student</a></li>
                <li><a href="/report">Report</a></li>
                <li><a href="/about">About</a></li>
              </ul>
            </div>
        </nav>
        <br>
      </div>
      <hr>
    </div>
