<html>
  <head>
    <meta charset="utf-8">
    <title>.:: Pair Project System ::.</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>
          <img alt="logo" src="../public/picture/logo.png" />
          <div class="title" style="color:#FF8C00;">
            .:: PAIR PROJECT SYSTEM :: PAIRING PROGRAMMING ::.
          </div>
        </h1>
        <br>
        <hr>
        <p style="text-align: center;">
            <input name="home" type="button" value="HOME" />
            <input name="student" type="button" value="STUDENT" />
            <input name="report" type="button" value="REPORT" />
            <input name="about" type="button" value="ABOUT" />
        </p>
      </div>
    </div>
