<% include ../partials/header %>
  <p style="text-align: center;">
    The Pair Project System created by :
    Eri Irawan and Isumi Karinaningsih
  </p>
  <p style="text-align: center;">
    Our mission:
    To complete the main challenges of learning in Phase 1 - Hacktiv8,and hopefully this project is meaningful and useful.
  </p>
  <p style="text-align: center;">
    Special thanks to:
    Our instructor, all the best! 
  </p>
<% include ../partials/footer %>
