<% include ../partials/header %>
  <p style="text-align: center;">
    The Pair Project System created by : <br>
  </p>
  <p class="text-primary" style="text-align: center;">Eri Irawan and Isumi Karinaningsih</p><br>
  <p style="text-align: center;">
    Our mission:<br>
  </p>
  <p class="text-success" style="text-align: center;">To complete the final challenge of learning in Phase 1 - Hacktiv8, and hopefully our project are meaningful and useful.</p><br>
  <p style="text-align: center;">
    Special thanks to:<br>
  </p>
  <p class="text-danger" style="text-align: center;">Our instructors, all the best!</p>
<% include ../partials/footer %>
