<% include ../partials/header %>
  <p style="text-align: center;">&nbsp;</p>
  <form action="post" name="match">
    <table width="100%" border="1" align="center">
      <tr>
        <th width="10%" align="center" scope="col">ID</th>
        <th width="20%" align="center" scope="col">Person 1</th>
        <th width="20%" align="center" scope="col">Person 2</th>
        <th width="50%" align="center" scope="col">Reason</th>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </form>
<% include ../partials/footer %>
